* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
.container {
	margin: 50px;
	display: flex;
	justify-content: space-around;
}

.select {
	position: relative;
	display: flex;
	justify-content: center;
}
.select__header {
	font-size: 18px;
	display: flex;
	width: 200px;
	justify-content: center;
	border: 1px solid rgb(141, 56, 56);
	border-radius: 10px;
}
.select__body {
	overflow: hidden;

	margin: 30px 0px 0px 0px;
	position: absolute;
	display: none;
	width: 200px;
	border: 1px solid rgb(141, 56, 56);
	border-radius: 10px;
}
.select__item,
.search-box {
	padding: 10px 0px 10px 20px;
	font-size: 20px;
}

.select__item:hover {
	cursor: pointer;
	background-color: rgba(168, 27, 27, 0.185);
}

.select.is-active .select__body {
	display: block;
}
